@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Oswald, sans-serif;
    font-size: 2rem;
}

body {
    background-color: #70d1fe;
    margin: 10px;
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: #ffffff;
    }
    #demo {
        background-color: red; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
    }
    #demo:hover {
        background-color: white;
        color: red;
        animation: all .3s ease-in;
        cursor: pointer;
    }
}
